<% provide(:title, "About") %>
<div class = 'center jumbotron vertical-center' style="background-color:#d6d6d6">
  <h2>Janki Kapadia</h2>
  <p>I love to travel. Travelling excites me, sustains me and rejuvenates me. I have been in this industry for over 16 years and experienced the phenomenal changes the industry has gone through. It is now much easier to research and book flights and hotels and a straightforward destination does not require any intermediaries. But for complex itineraries, personalized experiences, special needs, visa requirements, on the ground realities and the oomph factor, a travel consultant truly does come in handy. Over the years, I have discovered that my talents are my listening skills and the ability to enhance a travel experience through helpful, occasionally unsolicited suggestions, attention to details and being available whenever needed.
  </p>
</div>

<div class = 'center jumbotron vertical-center' style="background-color:#d6d6d6">
  <h2>Nila Shah</h2>
  <p>I’ve spent several years travelling all over, with long stretches in the Middle East and India. Over the years, I have guided and facilitated several holidays for friends from the West in both regions. I recognize and appreciate the sensibilities of both Western and the Eastern culture. I understand what a Western tourist is looking for and apprehensive of when visiting the Indian subcontinent. I also know of the underexplored places and experiences available in this incredible region with its rich spiritual and cultural heritage. Janki has lived and traveled extensively in the Indian subcontinent. Her knowledge of the region, contacts and resources are unparalleled. So I am collaborating with her to bring a personalized and amazing experience of the Indian subcontinent to you.
  </p>
</div>
