<div class='center jumbotron vertical-center'>
  <h1>Welcome to Beyond 360!</h1>
  <h2>A reason to explore</h2>
  <h3>We are a boutique travel agency providing specialized itineraries</h3>
  <br>
  <p> Whatever your inclination - history, art, adventure, rest and relaxation or a chance to experience the nightlife of a new city, we can design the ideal tour for you!</p>
</div>
