<% provide(:title, "Tours") %>
<div class='center jumbotron vertical-center' style="background-color:#d6d6d6">
  <%= carousel_for(@tour_images, @tour_captions) %>
  <br>
  <br>
  <p> Contact us to visit these places, or anywhere else you may want to go! </p>

</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  $( document ).ready(function(){
  $('#mycarousel').carousel();
  });
</script>
