@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

$beyond-blue: rgba(0,63,99,1);
$black: #000000;

body {
  background-image: image-url("earth.jpg");
  background-size: 100%;
  padding-top: 70px;
  font-family: "Trebuchet MS"
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  margin: 50px 10px 10px 10px;
  background-color: rgba(230,230,230,1)

}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


#bg {
  position: fixed;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.header-text {
  color: rgba(30,30,30,1);
}

.navbar {
  height: 50px;
}


.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}

.navbar-nav.navbar-center li a {
  color: rgba(15,15,15,1);
  font-size: 32px;
}

.navbar-brand img {
  width: 220px;
  height: 45px;
  align: left;
  margin-top: -12px;
  margin-left: -20px;
}

ul.nav a:hover {
  background-color: #002240 !important;
  color: rgba(148,150,157,1);
}

header {
  background-color: $beyond-blue;
}

/* carousel */
.carousel-inner .item img {
  width: 100%;
  height: 600px;

}

/* form */

.center-form {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

input {
  width: 300px;
  :focus {
    border: 3px solid green;
    background-color: lightblue;

  }
}


textarea {
  width: 500px;
  height: 400px;
  :focus {
    width: 100%;
    background-color: lightblue;
  }
}
/* typography */

.carousel-caption {
  color: rgba(220,220,220,1);
  text-shadow: 10px 10px 10px 10px rgba(10,10,10,1);
}


footer {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
