<div class='reviews_container'>
<ul>
  <li>
    <div class='review_item'>
      <p>
        <em>"Beyond 360 travels has been taking care of my travels since 2007. We are a group of senior citizens (14 to 16) and we have travelled to Australia  New Zealand, Croatia, Baku, Vietnam Cambodia, Machu Pichu and recently to South Africa. The agency has arranged everything from visa and tickets to hotels, excursions and all local transport. It has always been a very positive experience. On a recent trip, when I had a fall, the agency promptly arranged my flight back home. All details were taken care of."</em>
      </p>
      <p>
        <small><strong>Hansa Mehta</strong></small>
      </p>
    </div>
    <br/>
    <br/>
  </li>
  <li>
    <div class='review_item'>
      <p>
        <em>"I first dealt with Beyond 360 in 2012. Since then our family of 4 have been to Italy, Spain, Kenyaand Tanzania, Alaska cruise and Rocky Mountains tour. A very good safari trip and the Rocky mountain trip were suggested by the agency. Very efficient service and excellent itinerary suggested. Now I don’t bother booking elsewhere."</em>
      </p>
      <p>
        <small><strong>Gaurav Joshi</strong></small>
      </p>
    </div>
    <br/>
    <br/>
  </li>
  <li>
    <div class='review_item'>
      <p>
        <em>"We are a group of senior ladies who have dealt with this agency several times. A very comfortable and enjoyable trip was arranged to Vietnam Cambodia Thailand. Everything including visas were taken care of and attention was paid to our special needs. Since then, Janki has organized a Rhine cruise along with Paris and London, a trip to New Zealand and to China. A to Z all services. Good experience."</em>
      </p>
      <p>
        <small><strong>Dr. Nalu Tank</strong></small>
      </p>
    </div>
    <br/>
    <br/>
  </li>
  <li>
    <div class='review_item'>
      <p>
        <em>"We have been to Italy, Spain, Scandinavia, Nepal and Himachal Pradesh. All trips were well organized. Nepal was superb. I highly recommend them."</em>
      </p>
      <p>
        <small><strong>Rajendra Shah</strong></small>
      </p>
    </div>
    <br/>
    <br/>
  </li>
  <li>
    <div class='review_item'>
      <p>
        <em>"Group travel arranged for Spain and Portugal. Also later to Amalfi Coast. Personalised service. Very patient."</em>
      </p>
      <p>
        <small><strong>Sadhana Desai</strong></small>
      </p>
    </div>
    <br/>
    <br/>
  </li>
  <br>
</ul>
</div>
